{% set classes = [
          'section-presentation',
          'entreprise',
          'd-flex',
          'justify-content-center',
          "align-items-center",
          "flex-wrap flex-column",
          (settings.extra_classes) ? settings.extra_classes
        ] 
%}
{% set image_url %}
	{{ content.image }} 
{% endset %}
<section {{ content_attributes.addClass(classes) }} style="background-image:url('{{ image_url|striptags|trim }}')">
	<div class="laout-content">
	    {% if content.title != "" %}
		<h1 class="titre big-title">
			<span class="big ">{{ content.title }}</span>			
		</h1>
		{% endif %}
		{% if content.sub_title != "" %}
			<h3 class="sub-title">{{ content.sub_title }}</h3>
		{% endif %}
		{% if content.description != "" %}
		<div class="description">
			{{ content.description}}
		</div>
		{% endif %}
	</div>
</section>
