<div class="header-media separateur-bottom">
  {% if page.blockcontent %}
    <div{{attrib_wb_universe_bg_img_front}}>
      <div class="container">
        <div class="content-body">{{page.blockcontent}}</div>
      </div>
    </div>
  {% else %}
  {#
    <div{{attrib_wb_universe_bg_img_front}}>
      <div class="container">
        <div class="content-body">{{wb_universe_bg_img_front.texte}}</div>
      </div>
    </div>
    #}    
  {% endif %}
  {% set id %}id-{{date().timestamp}}{% endset %}
        {% set owls = { 
          'id': id, 
          'items': wb_universe_bg_img_front.lists, 
          'data_interval': 5000,
          'indicators':true,
          'control':true, 
          } 
        %}
    {% include '@wb_universe/inc/owl.html.twig' %} 
  {% if page.themeheader %}
    <div class="advanced-search-front">
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <div class="content-search-form">{{page.themeheader}}</div>
            </div>
          </div>
        </div>
    </div>
  {% endif %}
</div>
